<form method="POST" action="">
	{{ invoiceForm}}
	{% if invoiceForm.errors %}
	<div class="form-group has-error">
		<span class="help-block">{{ invoiceForm.errors }}</span>
	</div>
	{% endif %}
	{{ currencyForm}}
	{% if currencyForm.errors %}
	<div class="form-group has-error">
		<span class="help-block">{{ currencyForm.errors }}</span>
	</div>
	{% endif %}
	{{ taxForm}}
	{% if taxForm.errors %}
	<div class="form-group has-error">
		<span class="help-block">{{ taxForm.errors }}</span>
	</div>
	{% endif %}
	{% csrf_token %}
</form>
