<html>
	<head>
		<title>Invoices</title>
	</head>
	<body>
		<h1>Invoices</h1>
		<form method="POST" action="/">
			<input id="new_line_item_input" name="line_item" placeholder="Enter the line item" /><br>
			<input id="new_line_item_description_input" name="line_item_description" placeholder="Enter a line item description" /><br>
			<input id="new_line_item_quantity_input" name="line_item_quantity" placeholder="Enter quantity" /><br>
			<button type="submit">Save</button>
			{% csrf_token %}
		</form>
		<table id="invoice_table">
			{% for line_item in line_items %}
			<tr><td>Line {{ forloop.counter }}: {{ line_item.line_item }}</td></tr>
			{% endfor %}
		</table>
	</body>
</html>
